:root {
    --primary-color: #FFD895;
    --secondary-color: #642826;
}

html {
    background-color: #FFD895;
    font-family: Montserrat, sans-serif
}
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}
.grid-item{
    border: 1px solid black;
    grid-template-columns: repeat(1, 2fr);
    color: var(--secondary-color);
    justify-content: center;
}
.header{
    grid-column: 1/3;
}
.header a{
    text-decoration: none;
    color: var(--secondary-color);
}
.header img{
    width: 80px;
    height: 80px;
}
.header ul{
    text-decoration: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 10px 0 0 0;
}
.header li{
    list-style: none;
    margin-right:2rem;
}
.header li:last-child{
    margin-left: auto;
}
.body {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer{
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

